
.card-profile-stats img{
    max-width: 86px;
    border-radius: 50%;
    border: 1px solid #111;
}

.email{
    color: rgb(237, 11, 45);
}

.location{
    color: blue;
}

.calendar{
    color: rgb(97, 31, 164);
}